@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

    body {
      font-family: 'Roboto Mono', monospace;
      margin: 0;
      background: #eee;
      height: auto;
      text-align: center;
    }
    form {
      margin-top: 150px;
    }
    form #currency {
      padding: 8px 10px;
      outline: none;
    }

    form button{
      padding: 9px 10px;
      border-radius: 5px;
      background: #fff;
      outline: none;
    }
    form button:hover {
      background: #eee;
    }